@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200;1,300&display=swap');
body{
    background-color: rgba(0, 255, 64, 0.963);
}
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"Poppins",sans-serif;
}
section{
    position:relative;
    width:100%;
    min-height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    background-image:url(/images/pic1.webp);
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: center;
}
header{
    position:relative;
    top:0;
    width:100%;
    padding:30px 100px;
    display: flex;
    justify-content:space-between;
    align-items: center;
}

header .logo{
    position: relative;
    color:darkgreen;
    font-size: 30px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    stroke: 100px;
    transition-property: "background";
    border-radius: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
header .logo:hover{
    background:yellowgreen;
}
header .navigation a{
    color:#000 ;
    background:none;
    text-decoration: none;
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 1px;
    stroke: 100px;
    padding: 2px 15px;
    border-radius: 20px;
    transition:0.4s;
    transition-property:"background";
}
header .navigation a:not(:last-child){
margin-right:30px;
}
header .navigation a:hover{
    background-color:greenyellow;
}
.content{
    max-width: 850px;
    margin: 60px 100px;
}
.content .info h2{
    color: #226a80;
    font-size: 70px;
    text-transform: uppercase;
    font-weight: 1400;
    letter-spacing: 2px;
    line-height: 60px;
    margin-bottom: 30px;
 }
 .content .info h2 span{
    color:#113317;
    font-size: 50px;
    font-weight: 900;
 }
 .content .info p{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 40px;
 }
 .content .info-btn{
    color: #fff;
    background: #345467;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 10px 20px;
    align-items: center;
    border-radius:10px;
    transition-property:background;
 }
 .content .info-btn:hover{
    background:#0C4F60;
 }
 .icons{
    margin:auto;
    display:flex;
    justify-content: center;
    align-items: center;
 }
 .icons a{
    position: relative;
    color: #111;
    font-size: 30px;
    transition: 0.3s;
    transition-property: transform;
 }
 .icons a:not(:last-child){
    margin-right: 60px;
 }
 .icons a:hover{
    transform: scale(1.7);
 }
label{
    display:none;

}
#check{
    z-index: 3;
    display: none;
}
@media (max-width: 960px){
    header .navigation{
        display: none;
    }
    label{
        display:block;
        font-size: 25px;
        font-weight: bold;
        cursor: pointer;
        transition: 0.3s;
        transition-property: color;
    }
    label:hover{
    color:#fff
    }
    label .close-btn{
        display:none;
    }
    #check:checked ~ header .navigation{
        z-index: 2;
        position: fixed;
        background: rgb(123,225,200);
        top:0;
        bottom:0;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #check:checked ~ header .navigation a{
    font-weight: 750;
    margin-right: 0;
    margin-bottom: 20px;
    letter-spacing: 2px;
    }
    #check:checked ~ header label .menu-btn{
        display: none;
    }
    #check:checked ~ header label .close-btn{
        z-index: 2;
        display: block;
        position: fixed;
    }
    label .menu-btn{
        position: absolute;
    }
    .content .info h2{
    font-size: 45px;
    line-height: 50px;
    }
    .content .info h2 span{
        font-size: 40px;
        font-weight: 600;
    }
    .content .info p{
    font-size: 15px;
    font-display: 100px;
    }
    
}